In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
wiki_data=pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies') #Open the link and download S&P company details in a tabl

In [3]:
wiki_data

[    Symbol              Security             GICS Sector  \
 0      MMM                    3M             Industrials
 1      AOS           A. O. Smith             Industrials
 2      ABT                Abbott             Health Care
 3     ABBV                AbbVie             Health Care
 4      ACN             Accenture  Information Technology
 ..     ...                   ...                     ...
 498    YUM           Yum! Brands  Consumer Discretionary
 499   ZBRA    Zebra Technologies  Information Technology
 500    ZBH         Zimmer Biomet             Health Care
 501   ZION  Zions Bancorporation              Financials
 502    ZTS                Zoetis             Health Care

                       GICS Sub-Industry    Headquarters Location  Date added  \
 0              Industrial Conglomerates    Saint Paul, Minnesota  1957-03-04
 1                     Building Products     Milwaukee, Wisconsin  2017-07-26
 2                 Health Care Equipment  North Chicago, Illinois  1957-03-04
 3                       Pharmaceuticals  North Chicago, Illinois  2012-12-31
 4        IT Consulting & Other Services          Dublin, Ireland  2011-07-06
 ..                                  ...                      ...         ...
 498                         Restaurants     Louisville, Kentucky  1997-10-06
 499  Electronic Equipment & Instruments   Lincolnshire, Illinois  2019-12-23
 500               Health Care Equipment          Warsaw, Indiana  2001-08-07
 501                      Regional Banks     Salt Lake City, Utah  2001-06-22
 502                     Pharmaceuticals   Parsippany, New Jersey  2013-06-21

          CIK      Founded
 0      66740         1902
 1      91142         1916
 2       1800         1888
 3    1551152  2013 (1888)
 4    1467373         1989
 ..       ...          ...
 498  1041061         1997
 499   877212         1969
 500  1136869         1927
 501   109380         1873
 502  1555280         1952

 [503 rows x 8 columns],
                   Date  Added                                Removed  \
                   Date Ticker                       Security  Ticker
 0          May 4, 2023   AXON                Axon Enterprise     FRC
 1       March 20, 2023   FICO                     Fair Isaac    LUMN
 2       March 15, 2023     BG                  Bunge Limited    SBNY
 3       March 15, 2023   PODD                        Insulet    SIVB
 4      January 5, 2023    NaN                            NaN     VNO
 ..                 ...    ...                            ...     ...
 319       June 9, 1999    WLP                      Wellpoint     HPH
 320  December 11, 1998    FSR                        Firstar     LDW
 321  December 11, 1998    CCL                 Carnival Corp.     GRN
 322  December 11, 1998   CPWR                      Compuware     SUN
 323      June 17, 1997    CCI  Countrywide Credit Industries     USL

                                \
                      Security
 0         First Republic Bank
 1          Lumen Technologies
 2              Signature Bank
 3         SVB Financial Group
 4        Vornado Realty Trust
 ..                        ...
 319  Harnischfeger Industries
 320                     Amoco
 321                General Re
 322                SunAmerica
 323                    USLife

                                                 Reason
                                                 Reason
 0    The Federal Deposit Insurance Corporation (FDI...
 1                     Market capitalization change.[5]
 2    The FDIC placed Signature Bank into FDIC Recei...
 3    The FDIC placed SVB's main subsidiary, Silicon...
 4                     Market capitalization change.[8]
 ..                                                 ...
 319           Harnischfeger filed for bankruptcy.[245]
 320            British Petroleum purchased Amoco.[246]
 321      Berkshire Hathaway purchased General Re.[246]
 322                     AIG purchased SunAmerica.[246]
 323                          AIG acquired USLife.[247]

 [324 rows x 6 columns]]

In [4]:
wiki_data[1]

                  Date  Added                                Removed  \
                  Date Ticker                       Security  Ticker
0          May 4, 2023   AXON                Axon Enterprise     FRC
1       March 20, 2023   FICO                     Fair Isaac    LUMN
2       March 15, 2023     BG                  Bunge Limited    SBNY
3       March 15, 2023   PODD                        Insulet    SIVB
4      January 5, 2023    NaN                            NaN     VNO
..                 ...    ...                            ...     ...
319       June 9, 1999    WLP                      Wellpoint     HPH
320  December 11, 1998    FSR                        Firstar     LDW
321  December 11, 1998    CCL                 Carnival Corp.     GRN
322  December 11, 1998   CPWR                      Compuware     SUN
323      June 17, 1997    CCI  Countrywide Credit Industries     USL

                               \
                     Security
0         First Republic Bank
1          Lumen Technologies
2              Signature Bank
3         SVB Financial Group
4        Vornado Realty Trust
..                        ...
319  Harnischfeger Industries
320                     Amoco
321                General Re
322                SunAmerica
323                    USLife

                                                Reason
                                                Reason
0    The Federal Deposit Insurance Corporation (FDI...
1                     Market capitalization change.[5]
2    The FDIC placed Signature Bank into FDIC Recei...
3    The FDIC placed SVB's main subsidiary, Silicon...
4                     Market capitalization change.[8]
..                                                 ...
319           Harnischfeger filed for bankruptcy.[245]
320            British Petroleum purchased Amoco.[246]
321      Berkshire Hathaway purchased General Re.[246]
322                     AIG purchased SunAmerica.[246]
323                          AIG acquired USLife.[247]

[324 rows x 6 columns]

In [5]:
wiki_data[0]

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
0,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
1,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott,Health Care,Health Care Equipment,"North Chicago, Illinois",1957-03-04,1800,1888
3,ABBV,AbbVie,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ACN,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989
...,...,...,...,...,...,...,...,...
498,YUM,Yum! Brands,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997
499,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
500,ZBH,Zimmer Biomet,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
501,ZION,Zions Bancorporation,Financials,Regional Banks,"Salt Lake City, Utah",2001-06-22,109380,1873
502,ZTS,Zoetis,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952

In [6]:
data = wiki_data[0] # All data is stored in first cell

In [7]:
display(data.head()) # print to check data downloaded

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
0,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
1,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott,Health Care,Health Care Equipment,"North Chicago, Illinois",1957-03-04,1800,1888
3,ABBV,AbbVie,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ACN,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989

In [8]:
sorted_data = data.sort_values(by=['Symbol'], ascending=True) #Sort the dataframe on ticker in alphabetical ascending order
sorted_data

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
12,A,Agilent Technologies,Health Care,Health Care Equipment,"Santa Clara, California",2000-06-05,1090872,1999
29,AAL,American Airlines Group,Industrials,Passenger Airlines,"Fort Worth, Texas",2015-03-23,6201,1934
9,AAP,Advance Auto Parts,Consumer Discretionary,Automotive Retail,"Raleigh, North Carolina",2015-07-09,1158449,1932
44,AAPL,Apple Inc.,Information Technology,"Technology Hardware, Storage & Peripherals","Cupertino, California",1982-11-30,320193,1977
3,ABBV,AbbVie,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
...,...,...,...,...,...,...,...,...
498,YUM,Yum! Brands,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997
500,ZBH,Zimmer Biomet,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
499,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
501,ZION,Zions Bancorporation,Financials,Regional Banks,"Salt Lake City, Utah",2001-06-22,109380,1873
502,ZTS,Zoetis,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952

In [11]:
sorted_data['GICS Sector'].value_counts()

Industrials               74
Financials                72
Information Technology    66
Health Care               65
Consumer Discretionary    53
Consumer Staples          37
Utilities                 30
Real Estate               30
Materials                 29
Communication Services    24
Energy                    23
Name: GICS Sector, dtype: int64

In [22]:
#finance_sorted_data = sorted_data[sorted_data['GICS Sector'] == 'Financials']
bank_finance_sorted_data = finance_sorted_data[finance_sorted_data['GICS Sub-Industry'].str.contains('Banks', na=False)]

In [23]:
bank_finance_sorted_data['Security']

35              Ameriprise Financial
60                   Bank of America
211               Franklin Templeton
71                        BNY Mellon
70                         BlackRock
114                        Citigroup
115         Citizens Financial Group
123                         Comerica
199                 Fifth Third Bank
245            Huntington Bancshares
262                          Invesco
271                   JPMorgan Chase
275                          KeyCorp
298                         M&T Bank
345                   Northern Trust
378           PNC Financial Services
401    Regions Financial Corporation
428         State Street Corporation
455                           Truist
436                    T. Rowe Price
458                        U.S. Bank
485                      Wells Fargo
501             Zions Bancorporation
Name: Security, dtype: object

In [24]:
bank_finance_sorted_data

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
35,AMP,Ameriprise Financial,Financials,Asset Management & Custody Banks,"Minneapolis, Minnesota",2005-10-03,820027,1894
60,BAC,Bank of America,Financials,Diversified Banks,"Charlotte, North Carolina",1976-06-30,70858,1998 (1923 / 1874)
211,BEN,Franklin Templeton,Financials,Asset Management & Custody Banks,"San Mateo, California",1998-04-30,38777,1947
71,BK,BNY Mellon,Financials,Asset Management & Custody Banks,"New York City, New York",1995-03-31,1390777,1784
70,BLK,BlackRock,Financials,Asset Management & Custody Banks,"New York City, New York",2011-04-04,1364742,1988
114,C,Citigroup,Financials,Diversified Banks,"New York City, New York",1988-05-31,831001,1998
115,CFG,Citizens Financial Group,Financials,Regional Banks,"Providence, Rhode Island",2016-01-29,759944,1828
123,CMA,Comerica,Financials,Diversified Banks,"Dallas, Texas",1995-12-01,28412,1849
199,FITB,Fifth Third Bank,Financials,Regional Banks,"Cincinnati, Ohio",1996-03-29,35527,1858
245,HBAN,Huntington Bancshares,Financials,Regional Banks,"Columbus, Ohio; Detroit, Michigan",1997-08-28,49196,1866
262,IVZ,Invesco,Financials,Asset Management & Custody Banks,"Atlanta, Georgia",2008-08-21,914208,1935
271,JPM,JPMorgan Chase,Financials,Diversified Banks,"New York City, New York",1975-06-30,19617,2000 (1799 / 1871)
275,KEY,KeyCorp,Financials,Regional Banks,"Cleveland, Ohio",1994-03-01,91576,1825
298,MTB,M&T Bank,Financials,Regional Banks,"Buffalo, New York",2004-02-23,36270,1856
345,NTRS,Northern Trust,Financials,Asset Management & Custody Banks,"Chicago, Illinois",1998-01-30,73124,1889
378,PNC,PNC Financial Services,Financials,Regional Banks,"Pittsburgh, Pennsylvania",1988-04-30,713676,1845
401,RF,Regions Financial Corporation,Financials,Regional Banks,"Birmingham, Alabama",1998-08-28,1281761,1971
428,STT,State Street Corporation,Financials,Asset Management & Custody Banks,"Boston, Massachusetts",2003-03-14,93751,1792
455,TFC,Truist,Financials,Regional Banks,"Charlotte, North Carolina",1997-12-04,92230,1872
436,TROW,T. Rowe Price,Financials,Asset Management & Custody Banks,"Baltimore, Maryland",NaN,1113169,1937
458,USB,U.S. Bank,Financials,Diversified Banks,"Minneapolis, Minnesota",NaN,36104,1968
485,WFC,Wells Fargo,Financials,Diversified Banks,"San Francisco, California",1976-06-30,72971,1852
501,ZION,Zions Bancorporation,Financials,Regional Banks,"Salt Lake City, Utah",2001-06-22,109380,1873

In [28]:
#import os

#new_dir_path = 'data'

#os.mkdir(new_dir_path)

In [29]:
# Convert the dataframe to csv file
bank_finance_sorted_data.to_csv('data/S&P500_bank_Tickers.csv', mode='w', index=False) #index is False as we don't want to write index in csv file